@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --my-red: #FF588C;
    --my-green: #80DEA5;
    --my-yellow: #FFD491;
    --my-blue: #97BBCA;
    --my-dark: #352D42;
    --my-white: #fff;
    --my-black: #000;
    --my-gray: #cecece;
}

* {
    /*margin: 0;*/
    /*padding: 0;*/
    /*box-sizing: border-box;*/
    font-family: 'Open Sans', sans-serif;
}

hr {
    background-color: var(--my-dark) ;
    border: 0.05rem solid var(--my-dark);
}

.logo {
    width: 55px;
}
/* BUTTONS */
.my-btn-login-one {
    background-color: var(--my-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
.my-btn-add{
    background-color: var(--my-green);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
.my-btn-edit {
    background-color: var(--my-yellow);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
.my-btn-delete {
    background-color: var(--my-red);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
.my-btn-return {
    background-color: var(--my-gray);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
.my-btn-login-one:hover, .my-btn-add:hover, .my-btn-edit:hover, .my-btn-delete:hover, .my-btn-return:hover{
    color: var(--my-white);
    box-shadow: none;
}

/* END-BUTTONS */
.my-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* LOGIN-PRINCIPAL */
.login-teacher {
    background-color: var(--my-blue);
}

.login-studant {
    background-color: var(--my-yellow);
}

.login-admin {
    background-color: var(--my-gray);
}
/* END-LOGIN-PRINCIPAL */

/* SREEM-CHARACTER */
.app-character {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.my-character-selected {
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    width: 320px;
}

.form-character form input{
    font-size: 18px;
    margin-top: 10px;
    border: 1.5px solid var(--my-dark);
    border-radius: 5px;
    width: 320px;
    padding: 10px;
    background-color: var(--my-green);
    transition: 0.3s;
}

.form-character form input:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--my-dark);
    font-weight: bold;
}
/* SREEM-CHARACTER-END */

/* DIALOG OLD LADY */
.old-lady-dialog {
    margin-left: -1rem;
    margin-top: -2.5rem;
}
.avatar-mission {
    width: 4.5rem;
    left: 4rem;

    margin-right: -1rem;
}
/* END DIALOG */

/* CONSOLE */
.console {
    background-color: var(--my-dark);
    color: var(--my-gray);
    padding: 10px;
}

.console p {
    font-family: 'Ubuntu';
    margin: 0;
    font-size: 13px;
}


